doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/style.css")
  body
    .home
      h1 WanderArt
      p Discover art & culture experiences tailored to the weather
      form(method="POST", action="/results")
        input(type="text", name="city", placeholder="Enter a city", required)
        button(type="submit") Explore Art
